<!DOCTYPE html>
<html>
  <head>
    <title>Voyage Trip 

    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
<header>
  <nav> 
      <a href="/create-trip">Create a Trip</a>
      <a href="/final-trip">My trip</a>
      <a href="/home-user">My home</a>
       <a href="/"> Home </a>
    {{#if blahUser}}
  <div class="profile">
    <strong> {{blahUser.username}}</strong>
     <li>  Google : {{blahUser.googleID}} </li>
    <img src="{{blahUser.imageUrl}}" with="5px" height="30px">
 
    <a href="/logout"> Log Out</a>
</div>
   
    {{else}}
      <a href="/signup"> Sign Up  </a>
        <a href="/login"> Log In  </a>
        {{/if}}
  </nav>
</header>
    {{{body}}}
<footer>
  <nav class="foot">
    <a href="/about">About</a>
      <a href="/about">Contact Us</a>
  </nav>
</footer>
    <script src='/javascripts/script.js' />
  </body>
</html>
