<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BUDDY TRAVEL

  </title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Pacifico|Shadows+Into+Light" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body>
  <header>
    {{!-- {{#if blahUser}}


    <div class="profile">
      <strong> {{blahUser.username}}</strong>

      <img src="{{blahUser.imageUrl}}" with="5px" height="30px">

      <a href="/logout"> Log Out</a>
    </div>

    {{else}}
    <a href="/signup"> Sign Up </a>
    <a href="/login"> Log In </a>
    {{/if}} --}}



    <div class="topnav" id="myTopnav">
      <a href="/" class="active">Home</a>



      {{#if blahUser}}
      <a href="/create-trip">Create a Trip</a>
      <a href="/home-user">My Trips</a>

      <a href="/user-info" id="about">User Infos</a>
      <a href="/setting/{{blahUser.Id}}" id="blog">Settings</a>
      <a href="/logout" id="projects">Log Out</a>

      {{/if}} {{!--
      <div class="container-btn-login">
        <a href="/login" class="login">Log In</a>
      </div> --}} {{#if blahUser}}


      <div class="profile">

        <strong> Welcome {{blahUser.username}}</strong>

        <img src="{{blahUser.imageUrl}}" width="25px" height="30px"> {{!--
        <a href="/logout"> Log Out</a> --}}
      </div>
      {{else}}
      <a href="/signup"> Sign Up </a>
      <a href="/login"> Log In </a>
      {{/if}}
    </div>


    </div>

    {{#if blahUser}} {{!--
    <div id="mySidenav" class="sidenav ">
      <div class="links">
        <li>
          <a href="/user-info" id="about">User Infos</a>
        </li>
        <li>
          <a href="/setting/{{blahUser.Id}}" id="blog">Settings</a>
        </li>
        <li>
          <a href="/logout" id="projects">Log Out</a>
        </li>
      </div>
    </div> --}} {{/if}}
  </header>


  {{{body}}}


  <div class="footer">

    <div class="wrapper-contact">
      <a href="/about" class="contact">Contact Us</a>
    </div>
    {{!--
    <p> Made with love by Jeremie & J-B </p> --}}
    <div class="icon-bar">
      <a href="#" class="facebook">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#" class="twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#" class="google">
        <i class="fa fa-google"></i>
      </a>
      <a href="#" class="linkedin">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="#" class="youtube">
        <i class="fa fa-youtube"></i>
      </a>
    </div>


  </div>
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2WpclP5Z8zSKT7msJ1s9acAA5mY9Pizg&libraries=places"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/script.js"></script>


</body>

</html>