<h1> Welcome {{blahUser.username}} to your trip {{this.destination}}!</h1>


{{!-- // ADD --}}
<h2>What are you looking for ?</h2>

<form action="/process-activity/{{this.tripId}}" method="POST">

  {{!-- <label>
    Type of Activity :
    <input type="text" name="typeOfActivity" placeholder="What Kind of Activity? ">
    <br>
  </label> --}}
<p>
       <label for="le_nom">Kind of Activity</label><br />
       <select name="typeOfActivity" id="le_nom">
           <option name="restaurant" value="restaurant">Restaurant</option>
           <option name="hotel" value="hotel">Hôtel</option>
           <option name="culture" value="culture">Culture</option>
           <option name="sport" value="sport">Sports</option>
          


</select>

  <label>
    Find Your Activity :
    <input type="text" name="nameOfActivity"  class="location-input" placeholder="Geolocalisation">

  <!-- these will be set by out Place Autocomplete -->
  <input type="hidden" name="latitude" class="lat-input" />
  <input type="hidden" name="longitude" class="lng-input" />
  </label>
 <label>
    Name :
    <input type="text" name="name" placeholder="The name ....">
  </label>
  <label>
    Detail :
    <input type="text" name="activityDetail" placeholder="Some détail ..">
  </label>

  <button>Add an activity</button>
</form>

</a>
</ul>



<div class="my-map"></div>


<h3> The List of Your Activity :</h3>


{{#each activityList}}
 {{#if this.isCulture}}
<div class="test">
        <h5>{{this.typeOfActivity}} !</h5>
     
        <h6> Name : {{this.name}} </h6>
        <p> Description: {{this.activityDetail}} </p>
     <a href="/final-trip/{{trip}}/{{this._id}}/delete" class="btn btn-primary">Del </a>
      
</div>
 {{/if}}
{{/each}}
{{#each activityList}}
 {{#if this.isSport}}
<h5>{{this.typeOfActivity}} !</h5>
     
       <h6> Name : {{this.name}} </h6>
        <p> Description: {{this.activityDetail}} </p>
     <a href="/final-trip/{{trip}}/{{this._id}}/delete" class="btn btn-primary">Del </a>

 {{/if}}
{{/each}}
{{#each activityList}}
 {{#if this.isRestaurant}}
<h5>{{this.typeOfActivity}} !</h5>
     
       <h6> Name : {{this.name}} </h6>
        <p> Description: {{this.activityDetail}} </p>
     <a href="/final-trip/{{trip}}/{{this._id}}/delete" class="btn btn-primary">Del </a>

 {{/if}}
{{/each}}
 {{#each activityList}}
 {{#if this.isHotel}}
 <div class="test">
<h5>{{this.typeOfActivity}} !</h5>
     
       <h6> Name : {{this.name}} </h6>
        <p> Description: {{this.activityDetail}} </p>
     <a href="/final-trip/{{trip}}/{{this._id}}/delete" class="btn btn-primary">Del </a>
</div>
 {{/if}}
{{/each}}


</div>
{{!-- <a href="/final-trip/{{trip}}/{{this._id}}/delete" class="btn btn-primary">Del </a>

</ul> --}}


{{!-- Comments --}}


<h3>Your Message</h3>
<form action="/process-review/{{trip}}" method="POST">
  <label>
    Name :
    <br>
    <input type="text" name="user" placeholder="Your Name...">
  </label>
  <br/>
  <label for="password"> Message :</label>
  <br>
  <textarea name="message">Tell us more about your trip !
  </textarea>
  <br>


  <button> Submit Souvenir </button>
</form>