<h1> Welcome {{blahUser.username}} to your trip {{this.destination}}!</h1>


{{!-- // ADD --}}
<h2>What are you looking for ?</h2>

<form action="/process-activity/{{this.tripId}}" method="POST">

  <label>
    Type of Activity :
    <input type="text" name="typeOfActivity" placeholder="What Kind of Activity? ">
    <br>
  </label>

  <label>
    Name :
    <input type="text" name="nameOfActivity" placeholder="Name ...">
  </label>

  <label>
    Detail :
    <input type="text" name="activityDetail" placeholder="Some détail ..">
  </label>

  <label>
    Price :
    <input type="number" name="priceOfActivity" placeholder="The price ...">
  </label>



  <button>Add an activity</button>
</form>

</a>
</ul>

<div class="my-map"></div>


<h1> HERE YOUR ACTIVITY </h1>


{{#each activityList}}
<h3>{{this.typeOfActivity}}</h3>

{{!-- 
<a href="/final-trip/{{trip}}/{{this._id}}/delete" class="btn btn-primary">Del </a>
{{!-- --}}
<a href="/final-trip/{{trip}}/delete" class="btn btn-primary">Del </a> --}} {{/each}}
</ul>


{{!-- Comments --}}

<h4> Add your comments</h4>



<form action="/book/{{book.id}}/process-review" method="POST">
  <label>
    Name :
    <br>
    <input type="text" name="user" placeholder="Your Name...">
  </label>
  <br/>
  <label for="password"> Message :</label>
  <br>
  <textarea>Tell us more about your trip !
  </textarea>
  <br>


  <button> Submit Souvenir </button>
</form>