<div class="wrapper-final-trip">
  <div class="container-final-trip">
    <h1> Welcome {{blahUser.username}} to your trip {{#if activityList}} {{activityDetail}} {{/if}}

    </h1>
    <h2 id="final-trip">What are you looking for ?</h2>

    <form action="/process-activity/{{this.tripId}}" method="POST">

      {{!--
      <label>
        Type of Activity :
        <input type="text" name="typeOfActivity" placeholder="What Kind of Activity? ">
        <br>
      </label> --}}
      <p>
        <label for="le_nom">Kind of Activity</label>

        <select name="typeOfActivity" id="le_nom">
          <option name="restaurant" value="restaurant">Restaurant</option>
          <option name="hotel" value="hotel">Hôtel</option>
          <option name="culture" value="culture">Culture</option>
          <option name="sport" value="sport">Sports</option>

        </select>

        <label>
          Find Your Activity :
          <input type="text" name="nameOfActivity" class="location-input" placeholder="Geolocalisation">

          <!-- these will be set by out Place Autocomplete -->
          <input type="hidden" name="latitude" class="lat-input" />
          <input type="hidden" name="longitude" class="lng-input" />
        </label>
        <label>
          Name :
          <input type="text" name="name" placeholder="The name ....">
        </label>
        <label>
          Detail :
          <input type="text" name="activityDetail" placeholder="Some détail ..">
        </label>

        <button>Add an activity</button>
    </form>

    </a>
    </ul>
    <div class="fb-share-button" data-href="https://project2-j.herokuapp.com/" data-layout="button_count" data-size="large" data-mobile-iframe="true">
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
        class="fb-xfbml-parse-ignore">Share Your Trip</a>
    </div>
  </div>
  {{!--
  <a href="/final-trip/{{trip}}/{{this._id}}/delete" class="btn btn-primary">Del </a> --}}

  <div class="my-map"></div>
</div>
</div>

<div class="wrapper-final-message">
  <h5 id="title-centered"> The List of Your Activity :</h5>
  <div class="acti">

    <div class="culture">
      <button class="btn"> Culture</button>
      <div class="culture1">
        {{#each activityList}} {{#if this.isCulture}} {{!--
        <h5>{{this.typeOfActivity}} !</h5> --}}

        <li>Name : {{this.name}}
          <li/> Description: {{this.activityDetail}}
          <br>
          <a href="/final-trip/{{trip._id}}/{{this._id}}/delete" class="boton"> 😮 </a>

          <hr> {{/if}} {{/each}}
      </div>
    </div>
    <div class="sport">
      <button class="btn"> Sport</button>
      <div class="sport1">
        {{#each activityList}} {{#if this.isSport}} {{!--
        <h5>{{this.typeOfActivity}} !</h5> --}}

        <li>Name : {{this.name}}
          <li/> Description: {{this.activityDetail}}
          <br>
          <a href="/final-trip/{{trip._id}}/{{this._id}}/delete" class="boton"> 😮 </a>

          <hr> {{/if}} {{/each}}
      </div>
    </div>
    <div class="restaurant">
      <button class="btn"> Restaurant</button>
      <div class="restaurant1">
        {{#each activityList}} {{#if this.isRestaurant}} {{!--
        <h5>{{this.typeOfActivity}} !</h5> --}}

        <li> Name : {{this.name}}
          <li/> Description: {{this.activityDetail}}
          <br>
          <a href="/final-trip/{{trip._id}}/{{this._id}}/delete" class="boton"> 😮 </a>

          <hr> {{/if}} {{/each}}
      </div>
    </div>
    <div class="hotel">
      <button class="btn"> Hotel </button>
      <div class="hotel1">
        {{#each activityList}} {{#if this.isHotel}} {{!--
        <h5>{{this.typeOfActivity}} !</h5> --}}

        <li> Name : {{this.name}}
          <li/> Description: {{this.activityDetail}}
          <br>
          <a href="/final-trip/{{trip._id}}/{{this._id}}/delete" class="boton"> 😮 </a>

          <hr> {{/if}} {{/each}}
      </div>
    </div>


    </ul>

    {{!--
    <button>Hide Message : </button> --}}
    <form action="/process-review/{{this.tripId}}" method="POST">
      <button>Hide Message : </button>

      <label>
        Name :

        <input type="text" name="user" placeholder="Your Name..." />
      </label>

      <label for="message"> Message :</label>

      <input name="comments" placeholder="Tell us about your trip !">
      </input>
      {{!--
      <br>
      <label>
        Your Pictures:
        <input type="File" name="imgUrl" class="form-control btn btn-info" placeholder="..." />
      </label> --}}

      <button> Submit Souvenir </button>

    </form>

    <div class="form">

      {{#each activityList}} {{#each this.trip.reviews}}
      <div class="comments">
        <p> {{this.user}} says :"{{this.comments}} " </p>

      </div>
      <hr> {{else}}
      <p> No reviews yet, Write one!</p>
      {{/each}} {{/each}}

    </div>
  </div>

</div>