<h2>
  Home-User</h2>


<h1> Welcome {{blahUser.username}} !</h1>

<br>
<br>





<button class="btn btn-primary">
  <a href="/create-trip">Create a new trip</a>
</button>

{{!--
<ul> --}} {{#each tripList}} {{!--
  <p> --}}


    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{this.imageUrl}}" alt="Card image cap" width="180px" height="130px">
      <div class="card-body">
        <h5 class="card-title">Your Trip to {{this.destination}} !</h5>
        <h6> With {{this.numberOfPeople}} of your Friends </h6>
        <h6> From : {{this.departureDate}} </h6>
        <h6> To : {{this.returnDate}} </h6>
        <a href="/final-trip/{{this._id}}" class="btn btn-primary">Join </a>
        <a href="/trips/{{this._id}}/edit" class="btn btn-primary">Edit</a>
        <a href="/trips/{{this._id}}/delete" class="btn btn-primary">Delete</a>
      </div>

    </div>
    </div>

    {{!-- USE TO BE GOOD --}} {{!--
    <p> Your Trip to {{this.destination}} ! </p>
    <h4> With {{this.numberOfPeople}} of your Friends </h4>
    <h4> From : {{this.departureDate}} </h4>
    <h4> To : {{this.returnDate}} </h4>
    <img src="{{this.imageUrl}}" width="40px" height="40px" />
    <br> --}} {{!--
    <button>
      <a href="/trips/{{this._id}}/edit"> Edit Basic Info </a>
    </button>
    <br>
    <button>
      <a href="/final-trip"> Join Your Trip </a>
    </button>

    <button>
      <a href="/trips/{{this._id}}/delete"> Delete</a>
    </button>
    <br> --}} {{!-- </li> --}} {{else}}
    <p> No Trip Yet</p>
    <a href="/create-trip">Create a trip</a>
    {{!-- </ul> --}} {{/each}}

<hr>

<h1> What is it </h1>
<p> A very cool way of organizing your trips</p>