<h2>Home-User</h2>

<br >
<br >
{{blahUser.name}}
<br >
<br >
{{blahUser.firstName}}
<br >
<br >
{{blahUser.username}}

<br >
<br >
<button>
<a href="/create-trip">Create a new trip</a>
</button>
<ul>
{{#each tripList}}
<li> 
 
  <h4> {{this.destination}} </h4>
    <br>

  <button>
  <a href="/trips/{{this._id}}/edit"> Update</a> </button>

<button >
<a href="/trips/{{this._id}}/delete"> Delete</a> </button>
  <br>

</li>
{{else}}
<p> No Trip Yet</p>
<a href="/create-trip">Create a trip</a>
{{/each}}
</ul>
